[submodule "u-boot"]
	path = u-boot
	url = git://git.denx.de/u-boot.git
[submodule "linux"]
	path = linux
	url = https://github.com/beagleboard/linux.git
[submodule "scripts/boot-scripts"]
	path = scripts/boot-scripts
	url = https://github.com/RobertCNelson/boot-scripts.git
